# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# Rendered reports
code/*.docx
code/*.pdf
docs/*.html
docs/*.docx
docs/*.pdf

# data files
data/processed_data/*.csv
data/raw_data/*.txt

# output files
plots/*.jpg

# knitr and R markdown default cache directories
/code/cache/
/code/figures/*.jpg

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# RStudio
.Rproj.user
